# MySQL Assignment Questions & Answers

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is information that is set up for easy access, management and updating data inside it. It's like folder or directory inside or computer. 
Databases are used for storing, maintaining and accessing any type of data. 
They collect information on people, places or things. 
That information is gathered in one place so that it can be observed and analyzed. 
Databases can be thought of as an organized collection of information.

Diffrence between SQL & NoSql

1. SQL databases are relational, and NoSQL databases are non-relational.
2. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
3. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
4. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
5. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON, video.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language
DDL are used to change the structure of a database and database objects.For example, DDL commands can be used to add, remove, or modify tables with in a database. 

The DDL commands are: 
- CREATE
- ALTER
- DROP
- TRUNCATE
- RENAME

1. CREATE : This command is used to create database or table in the relational database . 

    CREATE DATABASE Test;

    CREATE TABLE Test.test_table
    (
        c1 INT,
        c2 VARCHAR(20)
    )

2. DROP : This command completely removes the table from the database along with the destruction of the table structure.
    This will delete all the records as well as the structure of the table. 
    This is the main difference between TRUNCATE AND DROP.-TRUNCATE only removes the records whereas DROP completely destroys the table. 

    DROP TABLE Student; # This command will remove the Student table records as well as destroys the schema too.
    
3. ALTER : Alter command is used for altering the table in many forms like: 
    - Add a column
    - Rename existing column
    - Drop a column
    - Modify the size of the column or change datatype of the column
    
    
    Below command will add a new column “Address” in the table Student of datatype varchar(200); 
    
    ALTER TABLE Student 
    ADD
    (Address  VARCHAR(200)); 
    
4. TRUNCATE : This command removes all the records from a table. But this command will not destroy the table’s structure.

    TRUNCATE TABLE Student; # This will delete all the records from the Student table.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is short name of Data Manipulation Language which deals with data manipulation and includes most common SQL statements such SELECT, INSERT, UPDATE, DELETE, and it is used to store, modify, retrieve, delete and update data in a database.

- SELECT - retrieve data from a database
- INSERT - insert data into a table
- UPDATE - updates existing data within a table
- DELETE - Delete all records from a database table

### Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. 
The purpose of the DQL Command is to get some schema relation based on the query passed to it.

It is used for retrieving data. A user can retrieve data according to his/her requirements using the select command. 
Example: 
    - If a user wants to retrieve all the from the employee table, the query will be as below: 
    
        select *
        from employee; 
    -If a user wants to know the name of the employee whose salary is less than 10, 000; the query is: 
   
        select ename 
        from employee 
        where salary<=10, 000;
        
Use Case -
    - Analytical Queries.
    - Retrieve Information from the database.

### Q5. Explain Primary Key and Foreign Key.

- Primary Key : Primary Key constraint uniquely identifies each record in a table.
    Primary keys must contain UNIQUE values, and cannot contain NULL values.
    A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).
    Below SQL statement creates a PRIMARY KEY on the "ID" column when the "Persons" table is created:
    
    CREATE TABLE Persons 
    (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    PRIMARY KEY (ID)
    );
    
- Foreign Key : Foreign Key constraint is used to prevent actions that would destroy links between tables.
    A Foreign Key is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.
    The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.
    This will create creates a Foreign Key on the "PersonID" column when the "Orders" table is created:
    
    CREATE TABLE Orders (
    OrderID int NOT NULL,
    OrderNumber int NOT NULL,
    PersonID int,
    PRIMARY KEY (OrderID),
    FOREIGN KEY (PersonID) REFERENCES Persons(PersonID));

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Below is python code to connect MySQL to python

    import mysql.connector
    mydb = mysql.connector.connect(
      host="localhost",
      user="shivam",
      password="admin123"
    )
    print(mydb)
    mycursor = mydb.cursor()
    mycursor.execute("SHOW DATABASES")
    for x in mycursor:
      print(x)
  


MySQL Cursor.execute() method - This method executes the given database operation. This method accepts a MySQL query as a parameter and executes the given query.
MySQL Cursor of mysql-connector-python is used to execute statements to communicate with the MySQL database.
Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

 ### Q7. Give the order of execution of SQL clauses in an SQL query.

Suppose we want to know the name of only two city names, except San Bruno, where two or more citizens are living on. We also want the result ordered alphabetically.

query to get the information as below:

    SELECT 
        city.city_name AS "City"
    FROM citizen
    JOIN city 
        ON citizen.city_id = city.city_id 
    WHERE city.city_name != 'San Bruno'
    GROUP BY city.city_name
    HAVING COUNT(*) >= 2
    ORDER BY city.city_name ASC
    LIMIT 2

Query Process Steps
1. Getting Data (From, Join)
2. Row Filter (Where)
3. Grouping (Group by)
4. Group Filter (Having)
5. Return Expressions (Select)
6. Order & Paging (Order by & Limit / Offset)

**** My reference pages ****

    - https://towardsdatascience.com/the-6-steps-of-a-sql-select-statement-process-b3696a49a642
    - https://www.geeksforgeeks.org/ddl-full-form/?ref=rp
    - https://www.w3schools.com/mysql/default.asp